# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Django local artifacts
db.sqlite3
media/
staticfiles/

# Tooling / editor
.vscode/
.idea/
.DS_Store

# Environment
.env
.env.*
